body {
    background-color: rgb(204, 213, 218);
    display: flex;
   align-items: center;
   justify-content: center;
}
.cv {
    
    background-color: white;
    width: 57em;
  height: 80em; 
}

.data {
    background-color: rgb(51, 83, 132);
    width: 34%;
    height: 80em;
    float: left; 
}

.profile{ 
    width: 100%; 
    margin-top: 2em;
}
.photo {
    display: flex;
   align-items: center;
   justify-content: center;
}
img{
    width: 75%;
    border-radius: 150px;  
}
.name {
    display: flex;
   align-items: center;
   justify-content: center; 
    font-weight: 700; 
    color: rgb(255, 255, 255);  
    font-size: 31.6635px;
    line-height: 1.5em;
    letter-spacing: 0.04em; 
    text-transform: uppercase;   
}
.career {
    display: flex;
   align-items: center;
   justify-content: center; 
    font-weight: 700; 
    color: rgb(255, 255, 255);  
    font-size: 16px;
    line-height: 3.5em;
    letter-spacing: 0.04em; 
    text-transform: uppercase;
}
#line {
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
}
#line div{
    background-color: rgb(255, 255, 255);
    height: 0.1em;
    width: 80%; 
}
.skills { 
    margin-top: 1.5em;
    margin-left: 1.5em;
    height: 25em; 
}
.title-data {
    color: rgb(197, 197, 197); 
    font-weight: 700;
    font-style: normal; 
    text-decoration: none;
    font-family: "YACgEQzTv38 0", _fb_, auto;
    font-size: 15px; 
    line-height: 1.42em;
    letter-spacing: 0.25em; 
    text-transform: uppercase; 
}
.skill {
    line-height: 3em;
    color: rgb(255, 255, 255); 
    font-style: normal;  
}
h4 { 
     display: inline-block;
     margin: 0 -4px;
     letter-spacing: 0.25em;
}
#point-white {
    color: white;
}
#point-black {
    color: rgb(98, 153, 255);
}
.contact { 
    margin-top: 1.3em;
    margin-left: 1.5em; 
}
.fab  {
    font-size: 21px;  
}
.fas  {
    font-size: 21px;  
}
.info {
    line-height: 3em;
    color: rgb(255, 255, 255); 
    font-style: normal;   
    letter-spacing: 0.01em;
}



.description {
    margin-top: 1em;
    margin-left: 21em; 
}

.title-description{
    margin-top: 1em;
    color: rgb(91, 167, 209);
    font-weight: 700;
    font-style: normal; 
    text-decoration: none;
    font-family: "YACgEQzTv38 0", _fb_, auto;
    font-size: 15px; 
    line-height: 1.5em;
    letter-spacing: 0.25em; 
    text-transform: uppercase;  
}
.text-center {
    text-align: center;
}
.text {
    width: 93%;
    text-align: justify;
    font-weight: 400;
    font-style: normal;
    color: rgb(68, 68, 64);
    text-decoration: none;
    font-family: "YACkoJDbMvg 0", _fb_, auto;
    font-size: 16.5px; 
    line-height: 1.5em;
    letter-spacing: 0.05em; 
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;

}
.studies-info {
    font-weight: 700;
    font-style: normal;
    color: rgb(68, 68, 64);
    text-decoration: none; 
    font-size: 15.25px; 
    line-height: 1.5em;
    letter-spacing: 0.05em;
    --para-spacing: 0;
    text-transform: uppercase;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    margin-top: 1em;
}

.school {
    font-weight: 400;
    font-style: italic;
    color: rgb(140, 140, 140);
    text-decoration: none;
    font-family: "YACkoBU8dvk 0", _fb_, auto;
    font-size: 15.6px; 
    line-height: 1.4em;
    letter-spacing: 0.05em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
}